{

  "extends": [
    "eslint:recommended"
  ],

  "parser": "babel-eslint",

  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },

  "rules": {

    "indent": ["error", 2],
    "quotes": ["error", "backtick"],
    "semi": ["error", "always"],
    "prefer-const": "error",
    "quote-props": ["error", "as-needed"],
    "space-infix-ops": "error",
    "no-console": "off",
    "prefer-template": "error",
    "no-array-constructor": "error",
    "no-new-object": "error",
    "no-var": "error",
    "eqeqeq": ["error", "smart"],
    "jsx-quotes": ["error", "prefer-single"],
    "camelcase": "error",
    "arrow-spacing": "error",
    "object-curly-spacing": ["off", "never"],
    "arrow-parens": ["error", "as-needed"],
    "key-spacing": "error",
    "comma-spacing": ["error", { "before": false, "after": true }],
    "comma-style": ["error", "last"]

  }

}
